<h1>Booking #<%= @booking.id %> Confirmation</h1>

<p>Thank you <em><%= @passenger.name %></em> for booking your flight with us.</p>

<p>To view your booking information, please click <%= link_to 'here', booking_url(@booking) %>.</p>
