<h1>Flights</h1>

<%= render 'form', departure_airports: @departure_airports %>

<% if params[:commit] %>
  <%= render 'flight_query', flights: @flights %>
<% end %>

<%= javascript_include_tag 'kalendae/kalendae.standalone.js' %>
<%= javascript_include_tag 'custom/main.js' %>

