<h2 class="heading bold">Airlines</h2>

<ul class="flex column gap-10">
  <% @airlines.each do |airline| %>
    <li class="flex gap-10 align-center">
      <%= image_tag "airlines/#{airline.name.split.join('_').downcase}.png", size: '30x30', class: 'airline-logo' %>
      <%= link_to(airline.name, airline) %> 
    </li>
  <% end %>
</ul>
