/* misc */

.bold { font-weight: bold; }

h2.heading { font-size: 22px; }

h3.heading { font-size: 20px; }

body {
  height: 100%;
  display: grid;
  grid-template: 50px 1fr / 55% 1fr;
}

a { text-decoration: none; }

a:hover { text-decoration: underline; }

header {
  background-color: #1a1919;
  grid-column: 1 / -1;
}

header a { color: #f3f3f3; }

main {
  grid-column: 1 / 2;
  padding: 20px;
}

/* Flash/Errors */

.flash-messages p, .form-errors {
  color: #f3f3f3;
  border-radius: 8px;
  padding: 10px;
}

.form-errors {
  width: max-content;
  font-size: 90%; 
}

.flash-messages .notice { background-color: #03380c; }

.flash-messages .alert, .form-errors { background-color: #910c0c; }

/* Forms */

form label { font-weight: bold; }

select, input {
  background: #1a1919e3;
  color: #f3f3f3;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px;
}

.booking-form input:not([type="submit"]) { 
  background: #eeeded; 
  color: #000000;
  border: 1px solid #b9b0b0;
}

select:hover, input:hover { outline: 1px solid #06cccc; }

.kalendae {
  background: #1a1919;
  color: #f3f3f3;
}

input[type="submit"] {
  font-size: 110%;
  padding: 4px 8px;
}

/* Table */

thead th {
  color: #f3f3f3;
  font-weight: bold;
  background-color: #1a1919;
}

tbody tr { border-bottom: 1px solid #1a1919; }

.airline-logo { border-radius: 50%; }

table input[type="submit"] { font-size: 75%; }

thead th, tbody td {
  padding: 10px 0 10px 0;
  vertical-align: middle;
  text-align: center;
}
